.main-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 80%;
    background-color: #f1f1f1;
    display: inline-block;
}

.main-menu li {
    float: left;
}

.main-menu li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.main-menu li a:hover {
    background-color: #555;
    color: white;
    transition: 0.3s;
}

.login-form {
    margin: 5vh auto;
    width: 50%;
}

.form-title {
    text-align: center;
    font-size: large;
    font-weight: bold;
}